<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TasteThreads</title>
</head>
<body>

    <h1>Welcome to TasteThreads</h1>
    <div>
        <a href='/login'>Login</a>
        <a href='/register'>Register</a>
        <a href='/dashboard'>Dashboard</a>
    </div>

    <footer>Developed by MichaelNDev</footer>
</body>
</html>