<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/">
                <i class="fa-solid fa-bowl-food"></i>
                <p>TasteThreads</p>
            </a>
            <div class="nav-buttons">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                </ul>
            <div>
        </div>
    </nav>
    <main>

        <div class="card">
            <h2>Create A TasteThreads Account</h2>    
            <form action="/register" method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="username">

                <label for="email">Email</label>
                <input type="email" id="email" name="email">

                <label for="password">Password</label>
                <input type="password" id="password" name="password">

                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword">

                <button type="submit">Register</button>
            </form>
        </div>
    </main>

        <footer>Developed by MichaelNDev</footer>
    <script src="https://kit.fontawesome.com/2eabe83adc.js" crossorigin="anonymous"></script>
</body>
</html>