:root {
    /* Light Mode Colors */
    --l-text: #4A5E53;
    --l-background: #F3F8F5;
    --l-primary: #7DE28F;
    --l-secondary: #FFC857;
    --l-accent: #8AB3A0;
    --l-success: #2EC4B6;
    --l-warning: #F79256;
    --l-error: #E76F51;

    /* Dark Mode Colors */
    --d-text: #E6EDE9;
    --d-background: #2D3A30;
    --d-primary: #8DEB9E;
    --d-secondary: #FFD166;
    --d-accent: #A0C9B6;
    --d-success: #3DECCF;
    --d-warning: #FFA07A;
    --d-error: #FF8C6B;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: var(--l-background);
    color: var(--l-text);
    position: relative;
    right: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--l-text);
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    width: 100%;
    background-color: var(--l-background);
}

.nav-buttons {
    display: flex;
}

.nav-buttons ul {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 20px;
}

li {
    text-decoration: none;
    list-style: none;
}

nav li a:hover {
    border: 1px solid var(--l-secondary);
    background-color: var(--l-secondary);
    transition: ease-out .2s;
}


.nav-buttons a {
    border: 1px solid var(--l-primary);
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 20px;
    background-color: var(--l-primary);
    text-decoration: none;
    color: var(--l-text);
    margin-right: 10px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo > a{
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: inherit; /* Changes hyperlink color to its parent element */
}

.logo > a:hover {
    color: var(--d-primary);
    transition: ease-out .2s;
}

.logo p {
    font-size: 32px;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 1000px;
    height: 100%;
    padding-top: 100px;
}

.container-left {
    width: 50%;
    height: 100%;
    border-right: 1px solid black;
    min-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-right {
    width: 50%;
    height: 100%;
    border-left: 1px solid black;
    min-width: 550px;
    background-color: var(--l-text);
    color: var(--l-background);
    overflow-y: scroll; /* Going to need this for overflow of reviews */
}


.container-right ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border: 5px solid var(--l-accent);
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    background-color: var(--l-background);
    color: var(--l-text);
}

.container-right li {
    border-bottom: 1px solid var(--l-accent);
    padding-bottom: 20px;
}


li p {
    margin: 0;
    padding: 0;
}

i {
    font-size: 32px;
    cursor: pointer;
    margin-right:20px;
}


h2 {
    text-align: center;
    font-size: 32px;
}


/* Card Design for Posts */

.card {
    height: 550px;
    width: 500px;
    border: 5px solid var(--l-accent);
    border-radius: 20px;
    box-shadow: 0px 1px 20px var(--l-accent);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card:hover {
    border: 5px solid var(--l-primary);
    transition: ease-out .2s;
}

.card span {
    font-size: 1.5rem;
    text-align: center;
}

.button-container {
    text-align: center;
}

.button-container button {
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 20px;
    background-color: var(--l-accent);
    text-decoration: none;
    color: var(--l-text);
    margin-top: 15px;
}

.button-container button:hover {
    background-color: var(--l-primary);
    transition: ease-out .2s;
    cursor: pointer;
}

.card:hover button{
    background-color: var(--d-primary);
    transition: ease-out .2s;
}

.card:hover img{
    border-bottom: 5px solid var(--l-primary);
    transition: ease-out .2s;
}

.card .overall-rating{
    margin: -10px 0 0 0;
    padding: 0 0 5px 0;
    background-color: var(--l-accent);
}

.card:hover .overall-rating{
    transition: ease-out .2s;
    background-color: var(--l-primary);
}

.card .overall-rating h4 {
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 5px;
}




li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li span {
    font-size: 1.15rem;
    padding-left: 2rem;
}

img {
    height: 300px;
    border-bottom: 5px solid var(--l-accent);
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}


form {
    display: flex;
    flex-direction: column;
}

.container-form label {
    margin-top: 10px;
}

.container-form form button {
    margin-top: 10px;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid var(--d-primary);
    background-color: var(--l-primary);
}

.container-form form button:hover{
    background-color: var(--l-secondary);
    transition: ease-out .2s;
    border: 1px solid var(--l-secondary);
}

h3 {
    padding: 0;
    margin: 0;
}

.comment-middle span {
    margin: 0 20px 0 0;
    padding: 0;
}

.container-left {
    display: flex;
    justify-content: flex-start;
}

.container-right button{
    width: 125px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid var(--d-primary);
    background-color: var(--l-primary);
}

.container-right button:hover{
    background-color: var(--l-error);
    border: 1px solid var(--l-error);
    transition: ease-out .2s;
}

button:hover i {
    transition: ease-out .2s;
}

button > i {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: var(--l-background);
}

.container-right .edit:hover{
    background-color: var(--l-secondary);
    transition: ease-out .2s;
}

.review-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.review-core {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}




.delete-update {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.delete-update > div > button:hover {
    background-color: var(--l-secondary);
    border: 1px solid var(--l-secondary);
    transition: ease-out .2s;
    cursor: pointer;
}

.hidden {
    display: none;
}

.update-review input {
    margin-bottom: 10px;
    width: 20%;
}

.update-review textarea {
    margin-bottom: 20px;
}

.update-review button {
    padding-top: 10px;
    padding-bottom: 10px;
}

.update-review button:hover {
    background-color: var(--d-secondary);
    border: 1px solid var(--d-secondary);
    transition: ease-out .2s;
}

.edit {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

